---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./posts/*.md");

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="container mx-auto py-10 flex-1">
    <h1 class="text-xl font-bold">{pageTitle}</h1>
    <p>Aqui é onde postarei sobre minha jornada aprendendo Astro.</p>

    <ul class="mt-10">
      {
        allPosts.map((post: any) => (
          <BlogPost url={post.url} title={post.frontmatter.title} />
        ))
      }
    </ul>
  </main>
</BaseLayout>
