---
import MobileMenu from "./MobileMenu.astro";
---

<nav class="flex justify-between py-6 border-b-2">
  <div class="container mx-auto flex justify-between">
    <div><a href="/" class="text-2xl select-none">Astro Blog</a></div>

    <div class="flex gap-4">
      <a class="hover:underline" href="/">Home</a>
      <a class="hover:underline" href="/about">About</a>
      <a class="hover:underline" href="/blog/">Blog</a>
    </div>

    <MobileMenu />
  </div>
</nav>
