<div class="container mx-auto py-10 flex-1">
  <h1 class="text-2xl">Hello, Astro!</h1>
  <p>This is a simple example of an Astro component.</p>

  <div class="flex flex-col gap-10 mt-10">
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat vitae
      quas aliquid labore odio inventore repudiandae. Vitae aliquid recusandae
      velit sed expedita maiores obcaecati nulla, tenetur quaerat eveniet
      corporis cupiditate.
    </div>
  </div>
</div>
